.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
main{
  display: flex;
  justify-content: center;
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
header h1{
  display: grid;
  justify-content: center;

}
.movies{
  list-style: none;
  margin: 32px 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}
.movie{
  text-align: center;
  margin-bottom: 16px;
}
.movie h3, .movie p{
  margin: 0;
}
.movies img{
  border-radius: 8px;
  margin-top: 16px;
}